h1{
    color: #2296c7;
    font-size: 40px;
    font-family: Helvetica, sans-serif;
    text-align: center;
}

h2{
    color: green;
    font-family: Helvetica, sans-serif;
    text-align: right;
}

h3{
    font-family: Comic sans, Comic sans MS, cursive;
}

p{
    
}

ul{
    list-style-image: url('images/pointer-icon.png');
}

ol{
    list-style: upper-roman;
}

#menu-bar a{
   font-family: Helvetica, sans-serif;
   text-decoration: none;
   background-color: aquamarine;
   padding: 5px;
}

#menu-bar a:hover{
    background-color: aqua;
    color: #ffffff;
}